* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    color: #4e4a4a;
}

header {
    height: 2.5rem;
    padding-left: 20px;
    background: linear-gradient(90deg, #f9f6f3 240px, white 0%);  
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 8px 12px;   
}

input, textarea, select, option {   
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgb(201, 196, 196);
    outline: none;
    background-color: white;
}

.left-sidebar h3 {
    padding: 8px 12px; 
}

.main-content { 
    display: grid;
    grid-template-columns: 240px auto; 
    height: calc(100% - 2.5rem);       
}

.left-sidebar {
    display: grid;
    grid-template-rows: 8rem auto;   
    padding: 20px;
    background-color:#f9f6f3;  
}

.project-warning {
    position: absolute;
    margin-top: -1rem;
    color: rgb(247, 49, 49);
    font-size: 14px;
}

.all-tasks-button,
.today-tasks-button,
.overdue-tasks-button,
.left-sidebar-project-button {
    display: grid;
    grid-template-columns: auto 1fr 20px;
    align-items: center;
    gap: 4px;
    text-align: left;
    color: rgb(51, 50, 50);   

    &:hover {
        background-color:#f3efea;
    }

    &:focus {
        background-color: #ebe4dc;

       .material-symbols-outlined {
            color:rgb(241, 66, 66);
        }
    }    
}

.tasks-span {        
    color: rgb(145, 143, 143);
}

.left-sidebar-project-button { 
    position: relative;    
    
    .project-button-settings {
        display: none;
        position: absolute;
        left: 164px;
    }
    
    .setting-buttons{
        display: none;
    }

   &:hover  {
    .tasks-span {        
       display: none;
    }

    .project-button-settings {
        display: block;
     }    
   }  
}

.project-rename-input-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr 1fr; 
    align-items: center;
    padding: 4px;
    padding-left: 12px; 
    gap: 4px;  
   
    button {
        padding: 0;
    }

    input {
        padding: 4px;        
        font-size: 12px;       
    }

    span {
        font-size: 16px;
    }

    > span {
        color: rgb(241, 66, 66);
    }   
 } 

 .remove-padding {
    padding: 0;
 }

 .project-rename-ok-button,
 .project-rename-cancel-button {
     padding: 0;
     /* padding-left: 4px;    */
 }

 .project-rename-ok-button:hover {
    color: green;
 }
 
 .project-rename-cancel-button:hover {
    color: rgb(241, 66, 66);
 }


.project-settings-popup {
    position: absolute;
    margin-top: -100px;
    left: 140px;
    /* background-color: #ebe4dc; */
   
   
}

.project-settings-popup > button {
    padding: 8px 0;
    width: 100%;
    border: 1px solid #ebe4dc;
    background-color: #f9f6f3;
    font-size: 12px;

    &:hover {
        color: red;
    }    
}

.add-project-button,
.add-task-button {  
    color: grey;

    &:hover {
        color: rgb(238, 65, 65);
    }
}

.tasks-main {
    margin: 0 auto;
    max-width: 800px;
    min-width: 320px;
    width: 80%;
    padding: 1rem 1rem 3rem;
}

.task-form-dialog {
    position: fixed;
    margin: auto;
    width: 360px;
    margin-top: 20%;
}

dialog {
    border: 1px solid #f3efea;    
}

#task-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 12px;
    background-color: #f9f6f3;   

    label {       
        font-size: 12px;
    }
    
    .task-form-left-div {
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 4px;      
    }

    .task-form-right-div {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr auto;
        gap: 4px;      
    }

    .task-form-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        padding-top: 8px;
    }

    .task-form-submit-button {
        color: white;
        background-color: rgb(238, 65, 65);
    }

    textarea {
        height: calc(100% - 16px);       
    }

    button {       
        background-color: #ebe4dc;
    }
}

.task-container-header {
    display: grid;
    grid-template-columns: auto 1fr 120px;
    padding: 1rem; 
  
    gap: 4px;
    align-items: center;    
}

.left-sidebar-projects-container,
 .left-sidebar-all-tasks {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    padding-bottom: 1rem ;
  }

.tasks-main {
    padding: 0 1rem; 
}

.material-symbols-outlined {
    color: rgb(151, 150, 150);
    font-size: 16px;  
  }

.add-task-button {
   display: flex;
   align-items: center;
   gap: 4px
}
.add-task-button-icon {
    color:rgb(245, 100, 100);
    font-size: 24px;   
}

.task-info-first-div .material-symbols-outlined {  
    font-size: 24px; 
    padding-top: 0; 
    /* transform: rotate(90deg); */
}

.task-bottom-info-line .material-symbols-outlined {  
    font-size: 12px;  
    margin-top: -1px;
    color: rgb(185, 182, 182);   
}

.task-info-third-div {
    button {
        padding: 0 8px;        
    }

    .task-delete-button:hover {
        color: rgb(245, 59, 59);
    }

    .task-edit-button:hover {
        color: rgb(77, 77, 77);
    }

    
}

.task-item {    
    display: grid;
    grid-template-columns: 52px 1fr auto;
    border-top: 1px solid rgb(228, 225, 225);
    padding: 1rem 0;
    gap: 0.5rem;
    
    .task-info-third-div {
        display: none;
    }

    &:hover {
        .task-info-third-div {
            display: block;
        }
    }

}

.task-name, .task-description {
    margin-bottom: 0.3rem;
}

.task-no-priority {
    color:rgb(216, 214, 214);
}

.task-priority-low {
    color: rgb(148, 194, 171);
}

.task-priority-medium {
    color: rgb(219, 181, 110);   
}

.task-priority-high {
    color: rgb(245, 142, 142);  
}

.task-bottom-info-line {
    display: flex;
    gap: 1rem;
    font-size: 12px; 
    color: rgb(250, 44, 44);   
}

.task-bottom-info-line div {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   gap: 4px;    
}

.project-button-settings {   
    display: grid;
    align-items: center;   
}

.project-button-settings span{    
    font-size: 16px;
    margin-bottom: -1px; 
}

.project-button-settings button {  
    display: grid;
    align-items: center;   
}

.project-form-buttons-container {
    display: flex;
    justify-content: space-between;    
}

#project-form button:hover {
   color:rgb(243, 67, 67);
}

.error {
    border-color: rgb(245, 59, 59);
    /* color: red; */
}

.hidden {
    display: none;
}

.visible {
    display: block;
}






