* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    color: #4e4a4a;
}

header {
    height: 2.5rem;
    padding-left: 20px;
    background: linear-gradient(90deg, #f9f6f3 240px, white 0%);  
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 8px 12px;   
}

.left-sidebar h3 {
    padding: 8px 12px; 
}

.main-content { 
    display: grid;
    grid-template-columns: 240px auto; 
    height: calc(100% - 2.5rem);     
}

.left-sidebar {
    display: grid;
    grid-template-rows: 8rem auto;   
    padding: 20px;
    background-color:#f9f6f3;  
}

.all-tasks-button,
.today-tasks-button,
.overdue-tasks-button,
.left-sidebar-project-button {
    display: grid;
    grid-template-columns: auto 1fr 20px;
    align-items: center;
    gap: 4px;
    text-align: left;
    color: rgb(51, 50, 50);   

    &:hover {
        background-color:#f3efea;
    }

    &:focus {
        background-color: #ebe4dc;
    }
}

/* .all-tasks-button:hover {
    background-color: black;
} */

.left-sidebar-project-button { 
    grid-template-columns: auto 1fr 20px 20px;   
}

.add-project-button,
.add-task-button {  
    color: grey;

    &:hover {
        color: red;
    }
}

.tasks-main {
    margin: 0 auto;
    max-width: 400px;
    width: 100vw;
}

.task-form-dialog {
    position: fixed;
    margin: auto;
    width: 280px;
    margin-top: 100px;
}

.task-container-header {
    display: grid;
    grid-template-columns: auto 1fr 100px;
    padding: 1rem; 
  
    gap: 4px;
    align-items: center;    
}

.left-sidebar-projects-container,
 .left-sidebar-all-tasks {
    display: grid;
    grid-template-columns: 1fr;
  }

.tasks-main {
    padding: 0 1rem; 
}

.material-symbols-outlined {
    color: rgb(151, 150, 150);
    font-size: 16px;  
  }

.task-info-first-div .material-symbols-outlined {  
    font-size: 24px; 
    padding-top: 0; 
}

.task-bottom-info-line .material-symbols-outlined {  
    font-size: 12px;  
    margin-top: -1px;   
}

.task-item {    
    display: grid;
    grid-template-columns: 40px 1fr;
    border-top: 1px solid rgb(228, 225, 225);
    padding: 1rem 0;
    gap: 0.5rem;   
}

.task-name, .task-description {
    margin-bottom: 0.3rem;
}

.task-no-priority {
    color:rgb(216, 214, 214);
}

.task-priority-low {
    color: rgb(226, 226, 29);
}

.task-priority-medium {
    color: rgb(223, 172, 79);
}

.task-priority-high {
    color: rgb(253, 84, 84);
}

.task-bottom-info-line {
    display: flex;
    gap: 1rem;
    font-size: 12px; 
    color: rgb(250, 44, 44);   
}

.task-bottom-info-line div {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   gap: 4px;    
}

.project-button-settings {   
    display: grid;
    align-items: center;   
}

.project-button-settings span{    
    font-size: 16px;
    margin-bottom: -1px; 
}

.project-button-settings button {  
    display: grid;
    align-items: center;   
}

.tasks-span {
    color: rgb(145, 143, 143);
}




