* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100dvh;
}

header {
    height: 2rem;
}



button {
    cursor: pointer;
}

li {
    list-style: none;
}

.main-content {
    position: relative;
    display: grid;
    grid-template-columns: 240px 1fr; 
    height: calc(100% - 4rem);
    border: 1px solid black;
   
     
}

.left-sidebar {
    display: grid;
    grid-template-rows: 5rem 1fr; 
   /* position: fixed; */
    height: 100%;
    padding: 20px;
    border: 1px solid black;
  
}

.left-sidebar-projects-container button {
    background-color: white;
    display: flex;
}

.task-container {
    height: 100%;
}

.task-form-dialog {
    position: fixed;
    margin: auto;
    width: 280px;
    margin-top: 100px;
}

.task-container-header {
    display: flex;
    padding: 1rem;    
}

.left-sidebar-projects-container {
    display: grid;
    grid-template-columns: 1fr;  
}

.tasks-main {
    padding: 0 1rem; 
}


.task-info-first-div .material-symbols-outlined {
  font-size: 44px;
  transform: rotate(90deg);
  padding-top: 0; 
}

.task-bottom-info-line .material-symbols-outlined {  
    font-size: 12px;
    color: grey;
    margin-top: -2px;   
}

.task-item {    
    display: grid;
    grid-template-columns: 40px 1fr;
    border-top: 1px solid rgb(185, 183, 183);
    padding: 1rem 0;
    gap: 0.5rem;   
}

.task-name, .task-description {
    margin-bottom: 0.3rem;
}

.task-no-priority {
    color:rgb(184, 182, 182);
}

.task-priority-low {
    color: rgb(206, 206, 66);
}

.task-priority-medium {
    color: rgb(221, 159, 43);
}

.task-priority-high {
    color: rgb(199, 4, 4);
}

.task-bottom-info-line {
    display: flex;
    gap: 1rem;
    font-size: 12px; 
    color: red;   
}

.task-bottom-info-line div {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   gap: 4px;    
}

.task-bottom-info-line div:nth-of-type(2) {
  color: rgb(46, 45, 45);
 }



